{% extends 'base.html' %}

{% block title %}Admin Page{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/admin.css">
    <div class="admin-container">
        <h2>Admin Page</h2>
        <table>
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Device Status</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody id="deviceTableBody">
                {% for device, status in device_status.items() %}
                    <tr>
                        <td>{{ device }}</td>
                        <td class="{% if status == 'On' %}status-on{% else %}status-off{% endif %}" id="{{ device }}-status">{{ status }}</td>
                        <td>
                            <form method="POST" action="/admin/toggle">
                                <input type="hidden" name="device" value="{{ device }}">
                                <button class="control-btn" type="submit">Toggle</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
