
.admin-container {
    max-width: 800px;
    width: 80%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;

}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    border-radius: 10px 10px 0 0;
}

.status-on,
.status-off {
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.status-on {
    background-color: #4CAF50;
    color: #fff;
}

.status-off {
    background-color: #f44336;
    color: #fff;
}

.control-btn {
    cursor: pointer;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.control-btn:hover {
    background-color: #0056b3;
}