/* base.css */

body, html {
    margin: 0;
    padding: 5px;
    height: 100vh;
}

div{
    border-radius: 6px;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    column-gap: 10px;
}

.content {
    border: 1px solid red;
    flex: 2;
    overflow: auto;
    
}

.navbar {
    flex: 0.2;
    background-color: rgb(201, 217, 223);
    display: flex;
    flex-direction: column;    
    row-gap: 10px;
    padding: 20px 5px;        
    
}

.link {
    list-style: none;
    padding: 10px;
    border: 1px solid rgb(23, 13, 13);
    border-radius: 6px;
    transition: background-color 0.3s , color 0.3s;
}

.link:hover {
    background-color: blue;
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

